.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #d1e0e0;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand{
    float:left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus , .navbar-inverse .navbar-nav .active a:hover{
    background-color: #d1e0e0;
    color: #3d5c5c;
    font-weight: bold;
}
.navbar-inverse .navbar-nav li a:hover{
    color: #0a0f0f;
    border-bottom: 3px solid #0a0f0f;
}
.navbar-inverse .navbar-nav li a{
    color: #527a7a;
}